<!DOCTYPE HTML>
<html lang="{{ page.lang }}" {% if page.lang=="ar" %}dir="rtl" {% endif %}>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="pragma" content="no-cache" />
    <meta http-equiv="expires" content="0" />
    <meta http-equiv="cache-control" content="max-age=0,must-revalidate" />


    <head>
        <link href="https://fonts.googleapis.com/css?family=Questrial|Raleway:400,600,700" rel="stylesheet">
        <link href="{{site.baseurl}}/styles/styles.css" rel="stylesheet" type="text/css" />
        <link href="{{site.baseurl}}/styles/highlight.css" rel="stylesheet" type="text/css" />
        <script
            src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
        <script src="https://unpkg.com/esprima@~4.0/dist/esprima.js"></script>
        <script src="https://unpkg.com/turndown/dist/turndown.js"></script>

        <script src="{{site.baseurl}}/js/js-yaml.min.js"></script>
        <script src="{{site.baseurl}}/js/posts.js"></script>
        <title> {{site.title}} </title>
    </head>
    <!--[if IE]>
        <style>
            #header #logo a {
                letter-spacing: 0.2em !important;
            }
        </style>
    <![endif]-->
<body>
    {% include header.html %}
    <div class="container">


            {{ content }}


    </div>

</body>
</html>