---
layout: default
---

{% assign post=page %}
<div class="post-page">
  {% include post.html %}

  <div class="other-posts blog-post">
    {% if post.previous %}
    <div class="left prev-post">
      <a href="{{site.baseurl}}{{post.previous.url}}"> Previous Post</a>
    </div>
    {% endif %} {% if post.next %}
    <div class="right next-post">
      <a href="{{site.baseurl}}{{post.next.url}}"> Next Post</a>
    </div>
    {% endif %}
  </div>
  <div class="comment-section">
    <div class="title"><h2>Comments</h2></div>

    {% for item in site.comments %} {% if item.ref == post.id %}
    <div class="comment-item">
      <div class="comment-text" id="comment-{{forloop.index}}">
        {{ item.comment | xml_escape | replace: "&gt;", ">" | markdownify}}
      </div>
      <div class="comment-metadata">
        <div class="comment-name">
          — {% if item.email %}
          <a
            href="mailto:{{ item.email | xml_escape }}"
            style="text-transform: none;"
          >
            {{ item.name | xml_escape }}
          </a>
          {% else %}
          <a style="text-transform: none;"> {{ item.name | xml_escape }} </a> {%
          endif %}
        </div>
        <div class="comment-date">
          {{ item.date | date: "%e %b %Y @ %l:%M %p" | xml_escape }}
          <span
            ><button class="quote" data-quote="comment-{{ forloop.index }}">
              Quote
            </button></span
          >
        </div>
      </div>
    </div>
    {% endif %} {% endfor %}

    <form class="add-comment-section" onsubmit="submitComment(); return false;">
      <div class="add-comment-title">Add Comment</div>
      <div class="comment-info">
        NOTE: Your name and email will be displayed publicly.
      </div>
      <div class="comment-info" id="comment-error"></div>
      <div class="comment-info" id="comment-success"></div>
      <textarea
        placeholder="Write your comment here..."
        name="comment-area"
        id="comment-area"
        cols="30"
        rows="10"
        class="comment-area"
      ></textarea>
      <div class="comment-data">
        <input
          type="text"
          name="comment-name"
          id="comment-name"
          placeholder="Name..."
        />
        <input
          type="text"
          name="comment-email"
          id="comment-email"
          placeholder="Email..."
          style="border-radius: 0 0 0 2px"
        />
      </div>
      <button class="comment-submit" id="comment-submit" type="submit">
        Send Comment
      </button>
    </form>
  </div>
</div>

{% assign path = post.path | split: "/" %} {% assign postName = path.last %} {%
assign postNameClean = postName | split: "." %}

<script>
  var codeBlock = document.getElementsByTagName("code");
  console.log(codeBlock);
  for (var i = 0; i < codeBlock.length; i++) {
    codeBlock[i].innerText = codeBlock[i].innerText.replace(/&amp;&lt;/g, "<");
  }

  var tds = new TurndownService()

  $("button.quote").on("click", function() {
    var cursorStart = $("#comment-area").prop("selectionStart");
    var cursorEnd = $("#comment-area").prop("selectionEnd");
    var v = $("#comment-area").val();
    var textBefore = v.substring(0, cursorStart);
    var textAfter = v.substring(cursorEnd, v.length);

    console.log($(this).attr("data-quote"));
    var quoteText =
      
      tds.turndown('<blockquote>' + $("#" + $(this).attr("data-quote"))
        .html()
        .trim() + '</blockquote>') +
      "\n\n";
    if (cursorStart != 0) quoteText = '\n' + quoteText;
    $("#comment-area").val(textBefore + quoteText + textAfter);
    $("#comment-area").focus();
    $("#comment-area").prop("selectionStart", cursorEnd + quoteText.length);
    $("#comment-area").prop("selectionEnd", cursorEnd + quoteText.length);
  });

  function submitComment() {
    try {
      $("#comment-error").hide();
      $("#comment-error").text("");
      $("#comment-success").hide();
      $("#comment-success").text("");
      $("#comment-submit").prop("disabled", true);
      $("#comment-area").prop("disabled", true);
      $("#comment-name").prop("disabled", true);
      $("#comment-email").prop("disabled", true);

      var commentText = $("#comment-area")
        .val()
        .trim();
      var commentName = $("#comment-name")
        .val()
        .trim();
      var commentEmail = $("#comment-email").val();

      if (!commentText || !commentName) {
        throw new Error("Please fill in your name and comment");
      }
      var commentData = {
        ref: "{{ post.id }}",
        title: "{{ post.title }}",
        name: commentName,
        date: new Date().toISOString(),
        comment: commentText
      };
      if (commentEmail) commentData.email = commentEmail;
      var yamlData = jsyaml.safeDump(commentData);

      var commentCommit = {
        message: "New comment added by " + commentName,
        content: b64EncodeUnicode("---\n" + yamlData + "\n---"),
        branch: "gh-pages"
      };
      var requestOptions = {
        url:
          "//relevant-forwarder.herokuapp.com/repos/not-dalia/relevant-space/contents/_comments/{{ postNameClean.first }}/{{ postNameClean.first }}" +
          Date.now() +
          ".md",
        type: "PUT",
        data: JSON.stringify(commentCommit),
        contentType: "application/json; charset=utf-8",
        dataType: "json"
      };
      console.log(requestOptions);

      var putComment = $.ajax(requestOptions)
        .done(function(data) {
          commentSubmitted();
        })
        .fail(function(data) {
          console.log(data);
          commentSubmitted("Failed to post comment.");
        });
    } catch (err) {
      commentSubmitted("Failed to post comment: " + err.message);
    }
  }

  function commentSubmitted(error) {
    $("#comment-submit").prop("disabled", false);
    $("#comment-area").prop("disabled", false);
    $("#comment-name").prop("disabled", false);
    $("#comment-email").prop("disabled", false);

    if (error) {
      $("#comment-error").show();
      $("#comment-error").text(error);
    } else {
      $("#comment-error").hide();
      $("#comment-error").text("");
      $("#comment-success").show();
      $("#comment-success").text(
        "Your comment was posted successfully. It might take a minute or two to appear."
      );
      $("#comment-area").val("");
      $("#comment-name").val("");
      $("#comment-email").val("");
    }
  }

  function b64EncodeUnicode(str) {
    return btoa(
      encodeURIComponent(str).replace(/%([0-9A-F]{2})/g, function toSolidBytes(
        match,
        p1
      ) {
        return String.fromCharCode("0x" + p1);
      })
    );
  }
</script>
