---
layout: default
---
<div class="tag-title">
    <div class="tag-title-container">
        <span style="text-transform: uppercase; font-size: 0.9em; margin-right: 10px; padding: 4px 0 10px 0;"> Posts tagged as </span>
        <span class="post-tags"><a id="selected-tag"></a></span>
    </div>
</div>
<div class="tagged-posts">

</div>
<script>
    var search = window.location.search;
    var terms = search.replace(/^\?/, '').split('&');
    var queryObj = {};
    for (var i in terms){
        let term = terms[i].split('=');
        if (term.length < 2) continue;
        let key = term.splice(0, 1)[0];
        let value = term.join('');

        queryObj[key] = value;
    }
    /*
        {% capture postLayout%}
            {% include post.html %}

        {% endcapture %}
    */
    document.querySelector('#selected-tag').innerText = queryObj.tag;
    var template = {{ postLayout | jsonify }};
    var cont = document.querySelector('.tagged-posts');
    for (var post in posts){
        if (posts[post].tags.indexOf(queryObj.tag.toLowerCase()) >= 0 ){
            let blogCont = document.createElement('div');
            blogCont.className = 'post-container';
            blogCont.innerHTML = template;
            blogCont.querySelector('.post-title>a').innerText = posts[post].title;
            blogCont.querySelector('.post-title>a').setAttribute('href', posts[post].url);
            blogCont.querySelector('.post-date').innerText = posts[post].date;
            blogCont.querySelector('.post-content').innerHTML = posts[post].content;
            var tags = [];
            for (var tag in posts[post].tags){
                tags.push('<a href="{{site.baseurl}}/tags?tag=' + posts[post].tags[tag] + '"><i class="fa fa-tag"></i>' + posts[post].tags[tag] + '</a>' );
            }
            blogCont.querySelector('.post-tags').innerHTML = tags.join(' ');

            cont.appendChild(blogCont);
            cont.appendChild(getSeparator());
        }
    }

    function getSeparator(){
        let n = document.createElement('div');
        n.className = 'separater';
        return n;
    }
</script>