body {
    margin: 0;
    font-family: 'Questrial', sans-serif;
    background: #fff;
    color: #333;
    min-width: 320px;
}

.highlighter-rouge{
    color: #d84315;
}

#header {
    padding: 40px 20px 0px 30px;
    border-top: 6px solid #555;
    /* border-bottom: 1px solid #ddd; */
    position: sticky;
    top: -40px;
    background: #fefefe;
    z-index: 10;
}

#header-description {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 0.85em;
    color: #ff7043;
    margin-top: 10px;
    padding: 0 20px;
    z-index: 7;
    position: relative;
    background: #fefefe;
}

#header-separator {
    border-bottom: 1px solid #ddd;
    position: sticky;
    top: 36px;
    z-index: 5;
    width: 100%;
    height: 1px;
    padding-top: 10px;
    background: #fff;
    -webkit-box-shadow: 0 2px 4px -1px rgba(0,0,0,0.02), 0 4px 5px 0 rgba(0,0,0,0.02), 0 1px 10px 0 rgba(0,0,0,0.02);
    box-shadow: 0 2px 4px -1px rgba(0,0,0,0.02), 0 4px 5px 0 rgba(0,0,0,0.02), 0 1px 10px 0 rgba(0,0,0,0.02);
}

#header #logo {
    text-align: center;
}

#header #logo a {
    font-family: 'Raleway', sans-serif;
    font-size: 1.6em;
    text-transform: uppercase;
    text-decoration: none;
    color: #333;
    transition: color 0.2s ease-in-out;
    display: inline-block;
    margin: 0 auto;
    letter-spacing: 1vw;
    white-space: nowrap;
}

@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {
    #header #logo a {
        letter-spacing: 0.2em !important;
    }
}

#header #logo a:after {
    content: '';
    width: 0px;
    height: 1px;
    display: block;
    background: #777;
    transition: 200ms;
    margin: 0 auto;
}

#header #logo a:hover:after {
    width: 100%;
}

#header #logo a:hover {
    color: #777;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
}

.blog-post {
    padding: 40px 20px;
    max-width: 700px;
    margin: 0 auto;
}

.separater {
    width: 100%;
    height: 1px;
    background: #ccc;
    margin: 10px auto;
}

a {
    color: #039be5;
    text-decoration: none;
    transition: all 0.1s ease-in-out;
}

a:hover {
    color: #ff7043;
    text-decoration: none;
}

.post-title {
    font-size: 1.2em;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 10px;
}

.post-date,
.post-tags {
    font-family: 'Raleway', sans-serif;
    font-size: 0.8em;
    color: #777;
}

.post-tags a {
    display: inline-block;
    background: #039be5;
    border-radius: 30px;
    padding: 5px 10px 8px 10px;
    color: #fff;
    font-size: 0.95em;
    margin-bottom: 5px;
}

.post-tags a:hover {
    display: inline-block;
    background: #ff7043;
    text-decoration: none;
}

blockquote {
    border-left: 3px solid #ffab91;
    margin: 0;
    margin: 1em 0;
    padding: 0 20px;
    line-height: 1.4em;
}

.tag-title {
    padding: 10px 20px 3px 20px;
    border-bottom: 1px solid #eee;
    /* border-top: 1px solid #ddd; */
    font-family: 'Raleway', sans-serif;
    color: #555;
    position: sticky;
    background: #fff;
    top: 46px;
    /* -webkit-box-shadow: 0 2px 4px -1px rgba(0,0,0,0.06), 0 4px 5px 0 rgba(0,0,0,0.06), 0 1px 10px 0 rgba(0,0,0,0.08);
    box-shadow: 0 2px 4px -1px rgba(0,0,0,0.06), 0 4px 5px 0 rgba(0,0,0,0.06), 0 1px 10px 0 rgba(0,0,0,0.08); */
}

.tag-title-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    max-width: 700px;
    margin: 0 auto;
}

.tag-title .post-tags a {
    background: #ff7043;
}

.container {}

.other-posts{
    border-top: 1px solid #ddd;
    padding: 5px 20px;
}

.other-posts>div{
    width: 48%;
}

.other-posts::after{
    clear: both;
    content: '';
    display: table;
}

.right{
    float: right;
    text-align: right;
}

.left {
    float: left;
    text-align: left;
}

.comment-section{
    border-top: 1px solid #ddd;
    padding: 5px 20px 20px 20px;
    max-width: 700px;
    margin: 0 auto;
}

.comment-section h2{
    color:  #ff7043;
}

.comment-item{
    border: 1px dashed #ddd;
    border-radius: 2px;
    padding: 10px;
    margin-bottom: 15px;
}

.comment-item .comment-text{
    color: #555;
    font-size: 0.95em;
    line-height: 1.4em;
    overflow-x: auto;
}

.comment-item .comment-text p{
    margin: 0;
    margin-bottom: 10px;
}

.comment-item .comment-metadata{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px;
    background: #f4f4f4;
    padding: 5px;
    font-size: 0.85em;
    color: #555;
    text-transform: uppercase;
    align-items: center;
}

.comment-metadata .comment-date{
    color: #868686;
}

.comment-metadata button {
    background: #FF8A65;
    border: none;
    border-radius: 5px;
    font-size: 0.9em;
    color: #fff;
    padding: 2px 5px;
    margin-left: 10px;
    cursor: pointer;
}

.comment-metadata button:hover {
    background: #039be5;
}

.add-comment-section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 30px;
}

.add-comment-section .add-comment-title{
    color:  #ff7043;
    font-family: 'Raleway', sans-serif;
    padding: 5px;
    margin-bottom: 2px;
    font-size: 1.2em;
}

.comment-submit{
    flex: 0.25;
    background: #039be5;
    border: none;
    color: white;
    border-radius: 0 0 2px 0;
}

.comment-data {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 0.75;
}

.comment-data input {
    flex: 1;
    margin: 0px;
    padding: 10px;
    border: 1px solid #eee;
    border-style: groove;
    flex-basis: 100%;
}

.comment-area {
    border-radius: 2px 2px 0 0;
    flex: 1;
    /* flex-grow: 1; */
    border: 1px groove #eee;
    padding: 10px;
    flex-basis: 100%;
}

.comment-info{
    flex: 1;
    flex-basis: 100%;
    padding: 5px;
    background: #FFF3E0;
    color: #222;
    border-left: 5px solid #F57C00;
    font-size: 0.9em;
    margin-bottom: 0;
}


.comment-info#comment-error{
    background: #FFCDD2;
    border-left: 5px solid #D32F2F;
    display: none;
    margin-top: 2px;
}

.comment-info#comment-success{
    background: #DCEDC8;
    border-left: 5px solid #4CAF50;
    display: none;
    margin-top: 2px;
}

.highlight pre{
    /* padding: 10px; */
}

code {
    white-space: pre-wrap !important;
}