body {
    margin: 0;
    font-family: 'Questrial', sans-serif;
    background: #fff;
    color: #333;
    min-width: 320px;
}

#header {
    padding: 40px 20px 0px 30px;
    border-top: 6px solid #555;
    /* border-bottom: 1px solid #ddd; */
    position: sticky;
    top: -40px;
    background: #fefefe;
    /* z-index: 10; */
}

#header-description {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 0.85em;
    color: #ff7043;
    margin-top: 10px;
    padding: 0 20px;
}

#header-separator {
    border-bottom: 1px solid #ddd;
    position: sticky;
    top: 36px;
    z-index: 10;
    width: 100%;
    height: 1px;
    padding-top: 10px;
    background: #fff;
}

#header #logo {
    text-align: center;
}

#header #logo a {
    font-family: 'Raleway', sans-serif;
    font-size: 1.6em;
    text-transform: uppercase;
    text-decoration: none;
    color: #333;
    transition: color 0.2s ease-in-out;
    display: inline-block;
    margin: 0 auto;
    letter-spacing: 1vw;
    white-space: nowrap;
}

@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {
    #header #logo a {
        letter-spacing: 0.2em !important;
    }
}

#header #logo a:after {
    content: '';
    width: 0px;
    height: 1px;
    display: block;
    background: #777;
    transition: 200ms;
    margin: 0 auto;
}

#header #logo a:hover:after {
    width: 100%;
}

#header #logo a:hover {
    color: #777;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
}

.blog-post {
    padding: 20px 20px;
    max-width: 800px;
    margin: 0 auto;
}

.separater {
    width: 100%;
    height: 1px;
    background: #999;
    margin: 10px auto;
}

a {
    color: #039be5;
    text-decoration: none;
    transition: all 0.1s ease-in-out;
}

a:hover {
    color: #ff7043;
    text-decoration: none;
}

.post-title {
    font-size: 1.2em;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 10px;
}

.post-date,
.post-tags {
    font-family: 'Raleway', sans-serif;
    font-size: 0.8em;
    color: #777;
}

.post-tags a {
    display: inline-block;
    background: #039be5;
    border-radius: 30px;
    padding: 5px 10px 8px 10px;
    color: #fff;
    font-size: 0.95em;
    margin-bottom: 5px;
}

.post-tags a:hover {
    display: inline-block;
    background: #ff7043;
    text-decoration: none;
}

.post-content blockquote {
    border-left: 3px solid #ffab91;
    margin: 0;
    margin: 1em 0;
    padding: 0 20px;
    line-height: 1.4em;
}

.tag-title {
    padding: 10px 20px 3px 20px;
    border-bottom: 1px solid #eee;
    border-top: 1px solid #ddd;
    font-family: 'Raleway', sans-serif;
    color: #555;
    position: sticky;
    background: #fff;
    top: 46px;
}

.tag-title-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
}

.tag-title .post-tags a {
    background: #ff7043;
}

.container {}